version: "3.9"

services:
    doshka_web_client:
        container_name: doshka_web_client
        build:
            context: ../
            dockerfile: ./infrastructure/docker/webClient.Dockerfile
            target: development
        env_file:
            - .env
            - ../webClient/.env.frontend
        ports:
            - "${FRONTEND_PORT}:${FRONTEND_PORT}"
        environment:
            VITE_API_URL: http://doshka_web_api:${BACKEND_PORT}
        volumes:
            - ../webClient:/app
            - webclient_node_modules:/app/node_modules
        depends_on:
            - doshka_web_api

    doshka_web_api:
        container_name: doshka_web_api
        build:
            context: ../
            dockerfile: ./infrastructure/docker/webApi.Dockerfile
            target: development
        env_file:
            - .env
            - ../webApi/.env.backend
        ports:
            - "${BACKEND_PORT}:${BACKEND_PORT}"
        environment:
            DATABASE_HOST: ${DATABASE_HOST}
            DATABASE_PORT: ${DATABASE_PORT}
            DATABASE_USERNAME: ${DATABASE_USERNAME}
            DATABASE_PASSWORD: ${DATABASE_PASSWORD}
            DATABASE_NAME: ${DATABASE_NAME}
            DATABASE_SYNCHRONIZE: ${DATABASE_SYNCHRONIZE}
        volumes:
            - ../webApi:/app
            - webapi_node_modules:/app/node_modules
        depends_on:
            - database

    database:
        image: postgres:16
        container_name: doshka_db
        restart: always
        env_file:
            - .env
        environment:
            POSTGRES_DB: ${DATABASE_NAME}
            POSTGRES_USER: ${DATABASE_USERNAME}
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
        ports:
            - "${DATABASE_PORT}:5432"
        volumes:
            - db_data:/var/lib/postgresql/data

volumes:
    db_data:
    webclient_node_modules:
    webapi_node_modules:
