version: "3.9"

services:
    doshka_web_client:
        container_name: doshka_web_client
        build:
            context: ../
            dockerfile: ./infrastructure/docker/webClient.Dockerfile
            target: development
        env_file:
            - .env
            - ../webClient/.env.frontend
        ports:
            - "${FRONTEND_PORT}:${FRONTEND_PORT}"
        environment:
            VITE_API_URL: http://localhost:${BACKEND_PORT}
        volumes:
            - ../webClient:/app
            - /app/node_modules
        depends_on:
            - doshka_web_api

    doshka_web_api:
        container_name: doshka_web_api
        build:
            context: ../
            dockerfile: ./infrastructure/docker/webApi.Dockerfile
            target: development
        env_file:
            - .env
            - ../webApi/.env.backend
        ports:
            - "${BACKEND_PORT}:${BACKEND_PORT}"
        environment:
            DATABASE_HOST: ${POSTGRES_HOST}
            DATABASE_PORT: ${POSTGRES_PORT}
            DATABASE_USER: ${POSTGRES_USER}
            DATABASE_PASSWORD: ${POSTGRES_PASSWORD}
            DATABASE_NAME: ${POSTGRES_DB}
        volumes:
            - ../webApi:/app
            - /app/node_modules
        depends_on:
            - doshka_db

    doshka_db:
        image: postgres:16
        container_name: doshka_db
        restart: always
        env_file:
            - .env
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        ports:
            - "${POSTGRES_PORT}:${POSTGRES_PORT}"
        volumes:
            - db_data:/var/lib/postgresql/data

volumes:
    db_data:
